# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
*.env
.env.*

# Build output
dist/
build/

# Dependency directories
bower_components/

# VS Code directories
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Package files
package-lock.json
package.json

.vscode/*