/* custom-scrollbar.css */

::-webkit-scrollbar {
  width: 8px; /* Makes the scrollbar thinner */
}

::-webkit-scrollbar-thumb {
  background-color: #382e53; /* Sets the thumb color */
  border-radius: 10px; /* Optional: round the thumb edges */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #261d3f; /* Optional: change thumb color on hover */
}
