/* Scrollbar container */
::-webkit-scrollbar {
  width: 0.6rem; /* Width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #080511; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b354d; /* Color of the handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d18e8; /* Color when hovered */
}
