/* Keyframes for glowing effect */
@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4);
    }
    50% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.5);
    }
}

.animate-glow {
    animation: glow 2s infinite;
}

/* Smooth fade-in and fade-out for text */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animate-fadeInOut {
    animation: fadeInOut 3s infinite;
}

/* Initial and transition states for elements */
.transition-opacity {
    transition: opacity 1s ease-in-out;
}

.transition-transform {
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    opacity: 0;
    transform: translateY(0);
}

.translate-y-0 {
    transform: translateY(0);
    opacity: 1;
}

.translate-y-20 {
    transform: translateY(90%);
    opacity: 0;
}

.-translate-y-20 {
    transform: translateY(-20%);
    opacity: 0;
}


/* Sparkle Animation (Moving downwards) */
@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(50px); /* Move the sparkles downward */
    }
}

.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #9b59b6;  /* Purple sparkle */
    border-radius: 100%;
    opacity: 0.8;
    box-shadow: 0 0 10px #9b59b6, 0 0 20px #8e44ad, 0 0 30px #8e44ad; /* Purple glow */
    pointer-events: none;
    animation: fadeOut 0.8s forwards;
}

/* Wand cursor */
.wand-cursor {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/3504/3504652.png'); /* Wand image */
    background-size: cover;
    pointer-events: none;
    z-index: 1000;
    top: -50px; /* Start offscreen */
    left: -50px; /* Start offscreen */
}


/* Define the up and down animation */
@keyframes updown {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-15px); /* Moves up */
    }
    100% {
        transform: translateY(10px); /* Moves back to original position */
    }
}

/* Apply the animation to the image container */
.animate-updown {
    animation: updown 3s ease-in-out infinite; /* 3s duration, smooth in-out, infinite loop */
}


/* Define the up and down animation */
@keyframes updown-tutorial1 {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px); /* Moves up */
    }
    100% {
        transform: translateY(5px); /* Moves back to original position */
    }
}

/* Apply the animation to the image container */
.animate-tutorial1 {
    animation: updown-tutorial1 3s ease-in-out infinite; /* 3s duration, smooth in-out, infinite loop */
}

