@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aribau";
  src: url(/duel-learn/src/fonts/Aribau_Light.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aribau";
  src: url(/duel-learn/src/fonts/Aribau_Regular.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aribau";
  src: url(/duel-learn/src/fonts/Aribau_Medium.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aribau";
  src: url(/duel-learn/src/fonts/Aribau_Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aribau";
  src: url(/duel-learn/src/fonts/Aribau_Black.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --font-family: "Aribau", sans-serif;
  color-scheme: light dark;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}
